name: Generate Documentation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  Create_Docs:
   runs-on: ubuntu-latest

   steps:
   
   - uses: actions/checkout@v3
          
   - name: Install needed packages
     run: sudo apt-get -y install graphviz doxygen
     
   - uses: actions/checkout@v3
     with:
       ref: gh-pages
   
   - name: Merge
     working-directory: ${{github.workspace}}
     # Build your program with the given configuration
     run: git merge origin/main -m "Update code from main"
      
   - name: Doxygen
     working-directory: ${{github.workspace}}/docs
     run: Doxygen Doxyfile
     
   - name: Commit and push
     working-directory: ${{github.workspace}}
     # Execute tests defined by the CMake configuration.  
     # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
     run: git add . && git commit -am "Update documentation" && git push
      
