

name: Generate Documentation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  # replace "github_username" with your GitHub username
  # replace "github.com/username/repo.git" with your GitHub repo path
  # do NOT replace ${{secrets.GITHUB_TOKEN}}, GitHub will take care of it
  MY_REPO: https://Hoog-V:${{secrets.GITHUB_TOKEN}}@github.com/Hoog-V/Roomba_project_cpp.git

  # replace "long-lived_branch_name" with your branch name
  MY_BRANCH: gh-pages

  # replace it with the path to master repo
  MASTER_REPO: https://github.com/Hoog-V/Roomba_project_cpp.git

  # replace "master" with your master branch name
  MASTER_BRANCH: main

jobs:
  Create_Docs:
   runs-on: ubuntu-latest

   steps:
   
   - name: clone repo
     run: |  
        git clone ${{env.MY_REPO}} -b ${{env.MY_BRANCH}} tmp
        cd tmp
          
   - name: Install needed packages
     run: sudo apt-get -y install graphviz doxygen
   
   - name: Merge
     working-directory: ${{github.workspace}}
     # Build your program with the given configuration
     run:  |
        git config user.name "Automerge Bot"
        git config user.email "bot@example.com" 
        git config pull.rebase false
        git pull ${{env.MASTER_REPO}} ${{env.MASTER_BRANCH}}
        git push

      
   - name: Doxygen
     working-directory: ${{github.workspace}}/docs
     run: Doxygen Doxyfile
     
   - name: Commit and push
     working-directory: ${{github.workspace}}
     # Execute tests defined by the CMake configuration.  
     # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
     run: git add . && git commit -am "Update documentation" && git push
      
